/* begin css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end css reset */

/* custom fonts */
@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/Lato/Lato-Bold.ttf');
}

/******************** MASTER TEMPLATE *******************/

html {
    position: relative;
    min-height: 100%;
}

body {
    box-sizing: border-box;
    font-family: 'Lato Regular', 'Arial', sans-serif;
    font-size: 16px;
    background-color: #eaeaea;
    overflow-x: hidden;
    margin-bottom: 60px;
}

/* header area */
.header {
    width: 100%;
    background-color: #333;
    height: 50px;
}

.masthead, .footer {
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
}

.masthead {
    margin-bottom: 20px;
}

.logo img {
    width: 100%;
    margin-left: -20px;
}

nav, .main {
    margin-left: 5%;
    width: 90%;
}

nav {
    margin-right: 6.3%;
}

.nav-item {
    padding-left: 10px;
}

.navbar-toggler {
    float: right;
    margin-top: 0;
}

.badge-secondary {
    margin-left: 5px;
}

.login p {
    padding-bottom: 20px;
}

.dropdown {
    width: 300px;
    margin-right: -150px;
}

.dropdown form {
    padding: 0 10px;
}

.dropdown label, .signup label {
    padding-bottom: 5px;
}

.dropdown button {
    float: right;
    margin-bottom: 20px;
}

.dropdown p {
    clear: right;
    text-align: center;
}

.signUpLink {
    color: #1f1fff;
    text-align: center;
    padding-bottom: 10px;
}

a {
    color: #937865;
}

/* footer area */
.footer {
    margin-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    bottom: 0;
}

.footer p {
    text-align: center;
    padding-top: 10px;
}

/******************** INDEX BLADE ********************/

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 15px;
    color: #666;
}

.welcome p {
    font-family: 'Lato Light';
    font-size: 18px;
    line-height: 22px;
}

.carousel {
    padding-top: 20px;
}

/******************** SHOP BLADE ********************/

.products {
    margin: 10px 0;
}

#sortPrice {
    float: right;
    margin-right: 45px;
    margin-top: 50px;
}

#sortPrice button {
    margin-left: 10px;
}

#card-element {
    background-color: #fff;
    border: 1px solid #c6c6c6;
    border-radius: 3px;
    padding: 10px 0;
}

.card {
    width: 250px;
    height: 315px;
    margin: 10px 0;
    position: relative;
}

.card img {
    height: 200px;
}

.card-title {
    font-family: 'Lato Bold';
}

.price {
    padding-top: 10px;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}

.add {
    float: right;
    margin-top: -25px;
    margin-left: 100px;
}

/******************** SINGLE ITEM BLADE *****************/

.itemInfo p {
    padding-bottom: 10px;
}

.singleItem img {
    height: 225px;
}

.bold {
    font-weight: bold;
    font-size: 18px;
    color: #696969;
    
}

.singleItem {
    padding-bottom: 20px;
}

/******************** CART BLADE ********************/

thead {
    margin-right: -10px;
}

#quantity {
    padding-left: 40px;
}

.cartQty {
    padding-bottom: 10px;
}

/******************** CHECKOUT BLADE *****************/

#checkout-form {
    padding-top: 30px;
}

#checkout-form label, #add-product label {
    padding-bottom: 5px;
    padding-left: 5px;
}

/******************** FAQ BLADE *****************/

.faq h3 {
    font-size: 25px;
    padding-bottom: 10px;
}

.faq p {
    font-size: 16px;
    padding-bottom: 10px;
}

/******************** ACCOUNT INFO BLADE *****************/

h2 {
    font-size: 25px;
    padding-bottom: 10px;
    color: #666;
}

/****** SIGN UP/SIGN IN/RESET PASSWORD BLADE *******/

.signUp form {
    margin-top: 20px;
}

.signUp p, .resetPassword p {
    padding-bottom: 15px;
}

#sendEmail label, .resetPassword label {
    padding-bottom: 5px;
}

#forgotPassword {
    float: right;
    margin-top: 10px;
}

/******************** CONTACT US BLADE *****************/

.contact {
    padding-top: 30px;
}

.contact label {
     padding-bottom: 5px;
}

/******************** ADMIN VIEWS *****************/
/******************** ACCOUNT TEMPLATE *****************/

.accountMenu {
    padding-bottom: 20px;
}

/*************** SHOW ALL USERS BLADE *************/

/*************** SHOW ALL PRODUCTS BLADE *************/

.managePhotos img {
    max-width: 50px;
    padding-bottom: 5px;
}

.productAction li {
    text-align: center;
    padding-bottom: 20px;
}

/*************** ADD PRODUCT BLADE *************/

#add-product input {
    width: 600px;
}

/*************** SHOW ALL ORDERS BLADE *************/

.panel {
    padding: 20px;
    border: 1px solid rgba(95, 95, 95, .5);
    border-radius: 3px;
    margin-bottom: 20px;
}

.panel-body p {
    padding-bottom: 5px;
}

#allOrders button {
    margin-left: 15px;
}

.panel-footer {
    padding-top: 15px;
}

@media (max-width: 767px) {
    #sortPrice {
        float: none;
    }
}